# Specific files and directories to ignore
training.txt
.idea/vcs.xml
.idea/SimpleNN.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml

# Ignore all files with image extensions
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg
